@page "/deckofcards"
@using RazorPlayingCards
@using PlayingCards

<h3>Deck of Cards</h3>

<button class="btn btn-primary" @onclick="ShuffleDeck">Shuffle</button>
<button class="btn btn-primary" @onclick="ResetDeck">Reset</button>

<div class="carddeck-container">
    @foreach (var card in Deck.Cards)
    {
       <CardView Card="@card"/>
    }
</div>

@code {
    private PlayingCardDeck Deck = new PlayingCardDeck();

    private void ShuffleDeck()
    {
        Deck.Shuffle();
        StateHasChanged();
    }

    private void ResetDeck()
    {
        Deck.Reset();
    }
}
